In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('Old_Data/action_log_archive.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (12,13) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [7]:
df.head()

,id,aim,account,roles,remote_addr,user_agent,uri,query_string,request_method,referer,succeeded,at,rights,country_code
0,1,login,NaN,NaN,91.221.228.69,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,/am/accounts/login,NaN,POST,https://91.221.228.54/am/,t,2018-11-27 21:49:57.185648,NaN,NaN
1,2,login,2.0,{2},10.10.70.60,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,/am/accounts/login,NaN,POST,https://mul2-mss.gov.am/am/,t,2018-11-29 12:47:44.622668,NaN,NaN
2,3,open_role,2.0,{2},10.10.70.60,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,/am/roles/2/edit,NaN,GET,https://mul2-mss.gov.am/am/system,t,2018-11-29 12:47:55.813322,NaN,NaN
3,4,edit_role,2.0,{2},10.10.70.60,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,/am/roles/2/update,NaN,POST,https://mul2-mss.gov.am/am/system,t,2018-11-29 12:48:16.261072,NaN,NaN
4,5,login,2.0,{2},10.10.70.60,Mozilla/5.0 (Windows NT 6.3; Win64; x64; rv:61...,/am/accounts/login,NaN,POST,https://mul2-mss.gov.am/am/,t,2018-11-29 14:02:12.647402,NaN,NaN

In [3]:
df.drop('id', inplace=True, axis=1)

In [4]:
df.drop('remote_addr', inplace=True, axis=1)

In [5]:
df.drop('user_agent', inplace=True, axis=1)

In [6]:
df.drop('query_string', inplace=True, axis=1)

In [7]:
df.drop('referer', inplace=True, axis=1)

In [8]:
df.drop('rights', inplace=True, axis=1)

In [9]:
df.drop('country_code', inplace=True, axis=1)

In [10]:
df = df[df['roles'].notna()]

In [11]:
df = df[df['aim'].notna()]

In [ ]:
df['account'] = df['account'].astype('int32')

In [12]:
df = df.drop(df[df['roles'] == '{}'].index)

In [ ]:
df['at'] = pd.to_datetime(df['at'], format='%Y-%m-%d %H:%M:%S.%f')

In [13]:
df = df[(df['at'] >= '2019-01-01') & (df['at'] < '2021-07-01')]

In [14]:
df.reset_index(inplace = True, drop = True)

In [15]:
df.loc[df['succeeded'] == 't', 'succeeded'] = 1
df.loc[df['succeeded'] == 'f', 'succeeded'] = 0

In [ ]:
df['succeeded'] = df['succeeded'].astype('int32')

In [16]:
df.to_csv('updated_data.csv', index=False)

In [17]:
df_2019 = df[(df['at'] >= '2019-01-01') & (df['at'] < '2020-01-01')]

In [18]:
df_2020 = df[(df['at'] >= '2020-01-01') & (df['at'] < '2021-01-01')]

In [19]:
df_2021 = df[(df['at'] >= '2021-01-01') & (df['at'] < '2021-07-01')]

In [28]:
df_2019.to_csv('updated_data_2019.csv', index=False)
df_2020.to_csv('updated_data_2020.csv', index=False)
df_2021.to_csv('updated_data_2021.csv', index=False)

In [ ]:
df.head()